/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
}

body {
  margin: 25px;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bold {
  font-weight: bold;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 1rem;
  transition-duration: 0.5s;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1rem solid;
  border-radius: 3px;
  /*   font-size: 12px; */
}

footer > a {
  color: #bbbbbb;
}

#errorMsg {
  color: #f0506e;
  font-size: 14px;
}
