/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
}

body {
  margin: 25px;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form {
  margin-bottom: 1.75rem;
  padding: 1rem;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 1rem;
  transition-duration: 0.5s;
}

input {
  display: block;
  width: 100%;
  border: 2rem solid;
}

/* Chrome's Autocomplete sucks!!  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

footer > a {
  color: #bbbbbb;
}
